<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            
                            <h3>Enquiry Form</h3>
                            <form #loginForm="ngForm" method="post" name="loginForm" (ngSubmit)="login()">
                            <p class="text-muted">Sign In to your account</p>
                            
                                <div class="alert alert-danger" *ngIf="showError">
                                Unable to login with the information provided. Please check the login information and try again.
                                </div>
                            
                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input type="text" name="username" required [(ngModel)]="user.username" class="form-control" placeholder="Email">
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input type="text" name="password" required [(ngModel)]="user.password" class="form-control" placeholder="First Name">
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input type="text" name="password" required class="form-control" placeholder="Last Name">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary px-2">Login</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                </div>
                            </div>
                            </form>
                            
                        </div>
                    </div>
                    <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
                        <div class="card-block text-center">
                            <div>
                                <h2>Sign up</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <button type="button" class="btn btn-primary active mt-1">Register Now!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
