<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <img src="assets/img/logosb.png" style="max-height:150px" />
            </div>
        </div>
        <div class="row justify-content-center">
            
            <div class="col-md-12">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            
                            <h3>Browse our Offerings and Customize your Enquiry</h3>

                            <p-dataGrid [value]="items">
                                <p-header>
                                    Select a Category to Begin
                                </p-header>
                                <ng-template let-item pTemplate="item">
                                    <div style="padding:5px;text-align:center;" class="ui-g-12 ui-md-3">
                                        <a (click)="selectEnquiryGroup(item)" class="grid-selector">
                                        <img style="min-width:200px" src="{{item.enq_group_image}}" width="60">                                              
                                        <br />
                                        <span style="font-size:12px;font-weight: bold">
                                            {{item.enq_group_name}}
                                        </span>
                                        </a>
                                    </div>
                                </ng-template>
                            </p-dataGrid>
                            
                            <div class="row">
                                <div class="col-md-3">
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>     
        <enquiry-main [enquiryGroup]="selectedEnquiryGroup"></enquiry-main>   
    </div>
</div>
