<div class="row justify-content-center" *ngIf="_enqGroup">
    <div class="col-md-12">
        <div class="card-group mb-0">
            <div class="card p-2">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <h3 style="text-align:center">Enquiry</h3>
                        </div>
                        <div class="col-md-3">
                            <span class="pull-right small-text">
                                Current Price/Person: <span class="price">20$ - 30$</span>
                            </span>
                        </div>
                    </div>
                    
                    
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <p-dataList [value]="_enqGroup.enquiryGroupPackages" class="customlist">
                                <p-header>
                                    Packages
                                </p-header>
                                <ng-template let-obj pTemplate="item">
                                    <a (click)="handlePackage(obj)">{{obj.group_package_name}}</a>
                                </ng-template>
                            </p-dataList>
                        </div>
                        <div class="col-md-8">
                            <div class="row" >
                                <div class="col-md-12">
                                    <p-dataGrid [value]="packageOptions">
                                        <p-header>
                                            Package Options in {{selectedPackageGroup}}
                                        </p-header>
                                        <ng-template let-obj pTemplate="item">
                                            <div class="grid-cell">
                                            <a class="grid-selector" (click)="showitems(obj)">
                                            <p-panel [header]="obj.package_option_name" [style]="{'text-align':'center'}">
                                            
                                            <img style="max-width:100px" src="{{obj.package_option_image}}"><br />
                                           
                                            </p-panel>
                                            </a>
                                            </div>
                                            
                                        </ng-template>
                                    </p-dataGrid>
                                </div>
                            </div>
                            <div class="row" *ngIf="selectedPackageOption">
                                <div class="col-md-12">
                                    <p-dataGrid [value]="primaryOptions">
                                        <p-header *ngIf="selectedPackageOption">
                                            Items in {{selectedPackageOption}}
                                        </p-header>
                                        <ng-template let-obj pTemplate="item">
                                            <div class="grid-cell">
                                            <a class="grid-selector">
                                            <p-panel [header]="obj.option_primary_name" [style]="{'text-align':'center'}">
                                            
                                            <img style="max-width:100px" src="{{obj.option_primary_image}}"><br />
                                            <input type="checkbox" value="" />{{obj.cost | currency:'USD':true}}
                                            </p-panel>
                                            </a>
                                            </div>
                                            
                                        </ng-template>
                                    </p-dataGrid>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>