<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-md-10">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6">
                                    <h3 style="text-align:center">Enquiry</h3>
                                </div>
                                <div class="col-md-3">
                                    <span class="pull-right small-text">
                                        Current Price/Person: <span class="price">20$ - 30$</span>
                                    </span>
                                </div>
                            </div>
                            
                            
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <p-dataList [value]="items" class="customlist">
                                        <p-header>
                                            Packages
                                        </p-header>
                                        <ng-template let-obj pTemplate="item">
                                            <a (click)="handlePackage(obj)">{{obj.label}}</a>
                                        </ng-template>
                                    </p-dataList>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p-dataGrid [value]="subitems">
                                                <ng-template let-obj pTemplate="item">
                                                    <div class="ui-g-12 ui-md-3">
                                                    <img src="assets/img/{{obj.package_option_image}}" width="80">
                                                        <a (click)="showitems(obj)">
                                                            <span>{{obj.package_option_name}}</span>
                                                        </a>
                                                    </div>
                                                </ng-template>
                                            </p-dataGrid>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div *ngIf="showRadio && selectedObj">          
                                                <div *ngFor ="let item of selectedObj.inner_items;let i =index">
                                                        <input type="radio" class="radio radio-danger" name="inner_item"  value="{{item.id}}">{{item.option_primary_name}}
                                                        
                                                </div>
                                            </div>
                                            <div *ngIf="!showRadio && selectedObj">                                       
                                                <p-pickList [source]="selectedObj.inner_items" [target]="selectedItems" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="option_primary_name" 
                                                        dragdrop="true" showSourceControls="disabled" (click)="limitCheckbox()" filterBy="option_primary_name" sourceFilterPlaceholder="Search by Name" targetFilterPlaceholder="Search by Name" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                                                    <ng-template let-obj pTemplate="item">
                                                        <div class="ui-helper-clearfix">
                                                            <img src="assets/img/{{obj.option_primary_image}}" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                                                            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{obj.option_primary_name}}</div>
                                                        </div>
                                                    </ng-template>
                                                </p-pickList>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"> 
                <div class="card-group mb-0">
                    <div class="row" style="background: white">                    
                        <div class="card-block">
                            <h3>Menu</h3>
                            <!--<form #enquiryForm="ngForm" method="post" name="enquiryForm">-->                         
                            <div class="input-group mb-1">
                               <!--<p-menu [model]="items" ></p-menu>  
                                                    -->                            
                            <p-dataList [value]="items">
                                <ng-template let-obj pTemplate="item">
                                    <a (click)="handlePackage(obj)">{{obj.label}}</a>
                                </ng-template>
                            </p-dataList>
                            <!--</form>-->                            
                        </div>
                    </div>
                    <div class="row" style="background:#20a8d8">
                        <div class="card-block text-center">
                            <div class="col-md-12">
                                <p-dataGrid [value]="subitems">
                                    <ng-template let-obj pTemplate="item">
                                        <div class="ui-g-12 ui-md-3">
                                           <img src="assets/img/{{obj.package_option_image}}" width="80">
                                            <a (click)="showitems(obj)">
                                                 <span>{{obj.package_option_name}}</span>
                                            </a>
                                        </div>
                                    </ng-template>
                                </p-dataGrid>
                                <hr/>
                            </div>
                            <div class="col-md-12">  
                                <div *ngIf="showRadio && selectedObj">          
                                    <div *ngFor ="let item of selectedObj.inner_items;let i =index">
                                            <input type="radio" class="radio radio-danger" name="inner_item"  value="{{item.id}}">{{item.option_primary_name}}
                                            
                                    </div>
                                </div>
                                <div *ngIf="!showRadio && selectedObj">                                       
                                    <p-pickList [source]="selectedObj.inner_items" [target]="selectedItems" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="option_primary_name" 
                                            dragdrop="true" showSourceControls="disabled" (click)="limitCheckbox()" filterBy="option_primary_name" sourceFilterPlaceholder="Search by Name" targetFilterPlaceholder="Search by Name" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                                        <ng-template let-obj pTemplate="item">
                                            <div class="ui-helper-clearfix">
                                                <img src="assets/img/{{obj.option_primary_image}}" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                                                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{obj.option_primary_name}}</div>
                                            </div>
                                        </ng-template>
                                    </p-pickList>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
